#slider {
    position: relative;
    width: 500px;
    height: 400px;
    margin-bottom: 10px;


}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    border-radius: 10%;
}

.one {
    background-color: dodgerblue;
}

.two {
    background-color: salmon;
}

.three {
    background-color: yellow;
}

.active {
    visibility: visible;
    opacity: 1;

}



/* scoreKeeper style */

.score {
    font-size: 2rem;
    font-weight: bold;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.goal {
    display: flex;
}